.highlight {
  composes: hds-highlight from '@jorilindell/hds-core/lib/components/highlight/highlight.css';
}

.highlightBlockquote {
  composes: hds-blockquote from '@jorilindell/hds-core/lib/components/highlight/highlight.css';
}

.text {
  composes: hds-highlight__text from '@jorilindell/hds-core/lib/components/highlight/highlight.css';
}

.size-s {
  composes: hds-highlight--small from '@jorilindell/hds-core/lib/components/highlight/highlight.css';
}

.size-l  {
  composes: hds-highlight--large from '@jorilindell/hds-core/lib/components/highlight/highlight.css';
}

.quote {
  composes: hds-highlight__quote from '@jorilindell/hds-core/lib/components/highlight/highlight.css';
}

.reference {
  composes: hds-highlight__reference from '@jorilindell/hds-core/lib/components/highlight/highlight.css';
}
